
<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()"
        #miFormulario="ngForm" 
        autocomplete="off">
    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">

            <input class="form-control"
                    ngModel
                    name="nombre"
                    placeholder="Nombre de la persona"
                    required>

                <span class="form-text text-danger"
                        *ngIf="nombreValido()">
                    Este campo es obligatorio
                </span>
        </div>
    </div>

    <!-- Agregar favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control"
                    placeholder="Agregar favorito">
                <button class="btn btn-outline-primary"
                        type="button">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <input class="form-control mb-1">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    [disabled]="miFormulario.invalid"
                    class="btn btn-primary float-end"
                    (click)="guardar()">
                Guardar
            </button>
        </div>
    </div>

</form>